*.acn
*.aux
*.bbl
*.blg
*.cache
*.d
*.dvi
*.fls
*.glo
*.ist
*.listing
*.lof
*.log
*.lot
*.make
*.nav
*.out
*.pdftex_t
*.pyc
*.snm
*.spl
*.swp
*.temp
*.toc
*.vrb
*~
.DS_Store
.ipynb_checkpoints
.vscode
