*~
*.swp
*.cache
*.aux
*.bbl
*.blg
*.log
*.out
*.make
*.d
*.fls
*.pdftex_t
*.lof
*.lot
*.toc
*.nav
*.snm
*.vrb
*.listing
.DS_Store
*.temp
*.pyc
*.spl
*.acn
*.dvi
*.glo
*.ist
.vscode
*.gz
*.bcf
*.run.xml
